$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$brand-primary: rgb(48, 151, 209);
$btn-primary-border: rgb(42, 136, 189);

$panel-default-border: rgb(211, 224, 233);
$list-group-border: $panel-default-border;
$btn-default-border: $panel-default-border;

$gray-dark: rgb(30, 57, 72);
$gray-light: rgb(157, 169, 176);

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background: rgb(245, 248, 250);
}

.container {
    max-width: 970px;
}

.btn-default {
    color: rgb(42, 136, 189);
    background-color: transparent;
    border-color: rgb(42, 136, 189);

    &:hover, &:focus, &:active, &:focus:hover, &:active:focus, &:active:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(42, 136, 189);
        border-color: rgb(42, 136, 189);
    }
}

.btn-wide {
    padding-left: 2em;
    padding-right: 2em;
}

.list-group-item-lg {
    padding: (20/14) * 1em;
}

.list-group-item-lg-short {
    padding-left: (20/14) * 1em;
    padding-right: (20/14) * 1em;
}

.panel-default > .panel-heading {
    border-bottom: none;
    background-color: inherit;
}

.navbar-default {
     background-color: rgb(48, 151, 209);
     border-color: rgb(28, 115, 165);

    .navbar-brand {
        color: rgb(255, 255, 255);
        &:hover, &:focus, &:active, &:focus:hover, &:active:focus, &:active:hover {
            color: rgb(255, 255, 255);
        }
    }
    .navbar-nav>li>a {
        color: rgba(255, 255, 255, 0.8);
        &:hover, &:focus, &:active, &:focus:hover, &:active:focus, &:active:hover {
            color: rgb(255, 255, 255);
        }
    }

    .navbar-toggle {
        border-color: rgba(255, 255, 255, 0.8);
        &:hover, &:focus, &:active {
            background-color: rgba(0,0,0,0.2);
        }
        .icon-bar {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}

.u-mt-0 {
    margin-top: 0;
}
.u-mb-0 {
    margin-bottom: 0;
}

.u-pa-3 {
    padding: 3rem !important;
}

.flex-justified {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat {
    display: block;
    text-align: center;
}
.stat-value {
    font-size: 1.5em;
}
.stat-label {
    // font-size: 2em;
}

.link-secondary {
    color: $gray-dark;
    &:hover, &:focus {
        text-decoration: underline;
        color: darken($gray-dark, 20%);
    }
}
